<div class="_wrapper-one-screen">
    <div fxFill="100" fxLayout="row" fxLayoutAlign="center center" >
        <div fxLayout="column" fxLayoutAlign="center center" >
            <h4 translate>APP_NAME</h4>
            <a routerLink="/">back to landpage</a>
            <div fxLayout="row">
                <mat-card>
                    <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
                        <div class="login-error" [hidden]="!error || isLoading" translate>
                            Username or password incorrect.
                        </div>
                        <br/>
                        <div fxLayout="column">
                            <mat-form-field>
                                <input type="text" matInput formControlName="name" autocomplete="name"
                                       [placeholder]="'Username' | translate"/>
                                <mat-error *ngIf="loginForm.controls.name.valid || loginForm.controls.name.untouched">
                                    <span translate>Username is required</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input type="password" matInput formControlName="password" autocomplete="current-password"
                                       [placeholder]="'Password' | translate" required/>
                                <mat-error *ngIf="loginForm.controls.password.valid || loginForm.controls.password.untouched">
                                    <span translate>Password is required</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-slide-toggle color="primary" formControlName="remember" translate>Remember me</mat-slide-toggle>
                            <br/>
                            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || isLoading">
                                <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
                                <span translate>Login</span>
                            </button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>
