<div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="section main-section">
        <div fxFill="100" fxLayout="column" fxLayoutAlign="center center" >
            <h1 translate>APP_NAME</h1>
            <h3 translate>Nice layout</h3>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
                <h4 class="version">v{{ version }}</h4>
                <a routerLink="/login">Login</a><br>
                <a routerLink="/home">go to home if logged</a>
                <div class="language-selector">
                    <button mat-raised-button color="primary" [matMenuTriggerFor]="languageMenu">
                        {{ currentLanguage }}
                    </button>
                    <mat-menu #languageMenu="matMenu">
                        <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
                            {{ language }}
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
    <div class="section primary-section">
        2
    </div>
    <div class="section secondary-section">
        3
    </div>
</div>
